/* ----------------------------------------------------------------------------
components.css                                                                  
Enthält alle Regeln zu Komponenten.  

Wer es noch schöner möchte, möge sich mal https://cssguidelin.es/ anschauen.
----------------------------------------------------------------------------*/


/*.screen{
  width: 100vw;
  overflow: hidden;
}*/


/*
#mainContent{
  display:flex;
  width: 200vw;
  overflow: hidden;
  transition: all 0.5s ease-in 0.5s;
}

#mainContent.gemaeldeActive{
  margin-left: calc(100vw * -1);
}*/

#global-wrap {
  /*width: 100vw;
  height: 100vh;
  overflow: hidden; */
}


/* mainHeader
-----------------------------------------------------------------------------*/

.main-header {
  top: var(--xl);
  left: var(--xl);
  position: fixed;
  z-index: -1;
}

.main-header__title,
.main-header__subtitle {
  text-transform: uppercase;
  font-size: var(--fontsize-xl);
}

.main-header__subtitle {
  margin-top: calc(var(--fontsize-l) * -1);
}


/* Startscreen
-----------------------------------------------------------------------------*/


/*#start {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}*/

#start {
  height: 100vh;
  padding: var(--xl);
  position: fixed;
  z-index: -1;
  top: 10vh;
}

.main-navigation {
  z-index: -1;
}

.main-navigation__list__item {
  display: block;
  font-size: 8vw;
  text-transform: uppercase;
  font-weight: 600;
  opacity: 0.1;
  transition: 0.5s all;
}

.main-navigation__list__item:hover {
  opacity: 0.9;
}


/* choiceHolder
-----------------------------------------------------------------------------*/

.choiceHolder {
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: var(--l);
}

.choiceHolder .btn {
  color: white;
  background-color: var(--color-button-bg);
  border: none;
  padding: 20px;
  margin: var(--xxs);
}

@media only screen and (min-width: 400px
/*vp-xs*/

) {
  .choiceHolder {
    flex-direction: row;
  }
  .choiceHolder .btn {
    width: 100%;
  }
}


/* masonry
-----------------------------------------------------------------------------*/

.masonry-wrapper {
  background-color: var(--color-backgrounds);
  padding: var(--xl);
  z-index: 0;
}

.masonry {
  columns: 1;
  column-gap: var(--xl);
}

.masonry-item {
  display: inline-block;
  vertical-align: top;
  padding-bottom: var(--xxl);
}

@media only screen and (min-width: 768px) {
  .masonry {
    columns: 2;
  }
}

@media only screen and (min-width: 1024px) {
  .masonry {
    /*columns: 3; */
  }
}


/*
.masonry-item {
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, .3));
  transition: filter .25s ease-in-out;
}
.masonry-item:hover {
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, .3));
}
.masonry-footer {
  font-size: .75em;
  opacity: .25;
  text-align: center;
  padding-top: 3em; 
  
  transition: opacity 1s ease-in-out;
}
.masonry-footer a {
  color: currentColor;
}
.masonry-footer:hover, .masonry-footer:active, .masonry-footer:focus {
  opacity: .75;
}
*/

.mansonry-item__image {
  display: block;
}


/* typo
-----------------------------------------------------------------------------*/

.typo {
  margin: auto;
  max-width: var(--maxwidth-text);
  padding: var(--xl);
  padding-bottom: var(--xxxl);
  font-size: var(--fontsize-xl);
  hyphens: auto;
  line-height: 140%;
}

.typo h2 {
  font-size: var(--fontsize-xl);
  color: var(--color-backgrounds);
}

.typo li {
  display: inline-block;
  hyphens: auto;
}

.typo li:after {
  content: ". ";
  display: inline-block;
}

.typo.is-weired {
  transform: rotate(0);
  transition: all 0.5s 0.5s;
}

@media only screen and (min-width: 480px) {
  .typo.is-weired {
    transform: rotate(1deg);
  }
}

@media only screen and (min-width: 1024px) {
  .typo h2 {
    font-size: var(--fontsize-l);
  }
  .typo {
    font-size: var(--fontsize-xxl);
    max-width: var(--maxwidth-text-l);
  }
}


/* Items/ Drawings
-----------------------------------------------------------------------------*/

.item-info {
  background-color: var(--color-button-bg);
  padding-bottom: var(--xl);
}

.item-info__title {
  margin-block-start: var(--xs);
  margin-bottom: var(--xs);
}

.item-info__list {
  margin: 0;
  padding: 0;
}

.item-info__list__data {
  display: block;
}