/*-----------------------------------------------------------------------------
base.css                                                                  
Enthält alle CSS Variabeln und grundlegende Regeln sowie zentrale helper. 

Wer es noch schöner möchte, möge sich mal https://cssguidelin.es/ anschauen.
----------------------------------------------------------------------------*/

/* Fonts
-----------------------------------------------------------------------------*/

@font-face{
  font-family:Barlow;
  font-style:normal;
  font-weight:200;
  src:url('../fonts/Barlow/Barlow-Light.ttf');
}

@font-face{
  font-family:Barlow;

  font-style:normal;
  font-weight:300;
  src:url('../fonts/Barlow/Barlow-Regular.ttf');
}

@font-face{
  font-family:Barlow;
  font-style:normal;
  font-weight:600;
  src:url('../fonts/Barlow/Barlow-SemiBold.ttf');
}




/* Variables
-----------------------------------------------------------------------------*/

:root {
    /* 
    Farben
    ----------------------------------------*/
    --color-text: #eee;
    --color-headlines: #999;
    --color-backgrounds: #000;
    --color-borders: rgba(0, 0, 0, 0.3);
    --color-button-bg: rgba(0, 0, 0, 0.8);


    /* Groessen
    ----------------------------------------*/
    --xxs: 0.25rem;
    --xs:  0.5rem;
    --s:   0.75rem;
    --m:   1.00rem;
    --l:   1.25rem;
    --xl:  1.50rem;
    --xxl: 2.00rem;

    /*
    Schrift
    ----------------------------------------*/
    --fontsize:     1.00rem;
    --fontsize-xs:  0.50rem;
    --fontsize-s:   0.75rem;
    --fontsize-l:   1.25rem;
    --fontsize-xl:  1.50rem;
    --fontsize-xxl: 2.50rem;
    --font-family: Barlow, Helvetica, Lucida, sans-serif;

}






/* Basic Styles 
-----------------------------------------------------------------------------*/

body {

    font-size: var(--fontsize);
    color: var(--color-text);
    background-color: var(--color-backgrounds);
    font-family: var(--font-family);
}

li,
a,
p,
td,
th {
    hyphens: auto;
    -webkit-hyphens: auto;
}



/* Material Design Icons
http://google.github.io/material-design-icons/
-----------------------------------------------------------------------------*/

.material-icons {
    padding-right: var(--space-inline-l);
}


/* Rules for sizing the icon. */

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}


/* Rules for using icons as black on a light background. */

.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}


/* Rules for using icons as white on a dark background. */

.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}


/* Background 
-----------------------------------------------------------------------------*/
#bg {
  z-index: -1;
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../img/190730_theartofspanking_master-bg.webp");
  background-size: cover;
  opacity: 1;
  transition: 0.8s opacity;
}

#bg.fade{
  opacity: 0;
}

#bg::before {
  content: '';
  top: 0;
  bottom: 50%;
  position: absolute;
  right: 0;
  left: 0;
  background-size: auto;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), #000);
  background-repeat: no-repeat;
  background-position: bottom;
  opacity: 1;
  z-index: 1;
}
