{{ define "main" }} {{ $params := . }} {{ $scratch := newScratch }}

<div id="bg"></div>

<header class="main-header">
  <h1 class="main-header__title">Christoph Steinke</h1>
  <h2 class="main-header__subtitle">{{.Site.Params.subtitle}}</h2>
</header>

<main id="main-content">
  <section id="start" class="screen">
    <nav id="main-navigation">
      <ul class="main-navigation__list">
        {{ range $page := where .Pages.Reverse "Params.nav" true }}
        <li class="main-navigation__list__item"><a href="#{{.Params.id}}">{{.Title}}</a></li>
        {{ end }}
      </ul>
    </nav>
  </section>
  
  {{ with $.Site.GetPage "/010-gemaelde" }}
  {{ .Render "views/paintingsWrap"}}
  {{end}}
  {{ range $page := where .Pages.Reverse "Params.type" "page" }}
  {{ .Render .Params.view }}
  {{ end }}
  
</main>

{{ end }}